---
import Section from "@/components/Section.astro";
import { loadCV } from "@/i18n/loadCV";
import { getLangFromUrl } from "@/i18n/utils";

const lang = getLangFromUrl(Astro.url);
const cv = loadCV(lang);
const { education } = cv;
---

<Section title={lang === "en" ? "Education" : "Educación"}>
  <ul>
    {
      education.map(({ institution, startDate, endDate, area, url }) => {
        const startYear = new Date(startDate).getFullYear();
        const endYear =
          endDate != null ? new Date(endDate).getFullYear() : lang === "en" ? "Present" : "Actual";
        const years = `${startYear} - ${endYear}`;

        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>
                    <a 
                      href={url} 
                      title={lang === "en" ? `View institution ${institution}` : `Ver la institución ${institution}`} 
                      target="_blank"
                    >
                      {institution}
                    </a>
                  </h3>
                </div>
                <time>{years}</time>
              </header>
              <footer>
                <p>{area}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article a {
    font-weight: 500;
    color: #111;
  }

  article a:hover {
    text-decoration: underline;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }

  @media (prefers-color-scheme: dark) {
    article a,
    time {
      color: #9f9f9f;
    }
  }
</style>
